<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tecniche" href="/tabs/tecniche">
      <ion-icon aria-hidden="true" name="body-outline"></ion-icon>
      <ion-label>Tecniche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="kata" href="/tabs/kata">
      <ion-icon aria-hidden="true" name="albums-outline"></ion-icon>
      <ion-label>Kata</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferiti" href="/tabs/preferiti">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
      <ion-label>Preferiti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cinture" href="/tabs/cinture">
      <ion-icon aria-hidden="true" name="ribbon-outline"></ion-icon>
      <ion-label>Cinture</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
